<div class="hero header-content">
  <div class="container">
    <div class="row mb-5">
      <div class="col-sm-12 text-center">
        <a href="{{ .Site.Params.hub_url }}">
          <img src="{{ .Site.Params.logo }}" class="animate__animated animate__zoomIn" alt="{{ .Site.Params.description }}" />
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 pt-5"></div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h3 class="section-heading">{{ .Site.Params.signin_text }}</h3>
      </div>
    </div>
    <div class="row mt-3"></div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <div class="login-box">
          <a href="{{ .Site.Params.hub_url}}">
            <img src="/images/login.png" alt="log in button" />
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-5"></div>
    <div class="row">
      <div class="col-sm-12 text-center">
        <h4 class="seciton-heading"><a href="#terms">Terms and conditions / Privacy Policy</a></h4>
      </div>
    </div>
  </div>
</div>
