{{ define "header" }}
  {{- partial "hero" . -}}
{{ end }}
{{ define "main" }}
  {{- partial "partners" . -}}
  {{- partial "about" . -}}
  {{- partial "languages" . -}}
  {{- partial "terms" . -}}
{{ end }}
<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <div class="page-body">
        {{ block "main" . }}{{ end }}
      </div>
        {{- partial "navbar.html" . -}}
        <header>
        {{- block "header" . }}{{ end }}
        </header>
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
        {{- partial "script.html" . -}}
    </body>
</html>
